<figure class="first-banner hotel">
  <h3>Pricing</h3>
</figure>
<div class="background">
  <div class="overlay white"></div>
  <article>
    <img src="/../resources/development/pawn_black.png" alt="">
    <div class="text">
      <h2>About Us</h2>
      <p>Altitude Chess is comprised of a number of experienced coaches living in Melbourne’s picturesque outer east intent on bringing the high-standard of chess coaching we’ve been practising all around Melbourne back home.</p>

      <p>We believe that student engagement is the key to effective learning and as such our programs focused around making students excited about learning and improving their chess. We achieve this through classes centred around lecture-style workshops and fostering friendly competition between peers.  Most importantly, we pride ourselves on making our classes fun and challenging for all skill levels and ages; in the end, that’s really what chess is about.</p>
    </div>
  </article>
  <div class="clearfix"></div>

</div>
