<figure class="first-banner hotel">
  <h3>Curriculum Outline</h3>
  <div class="small-line"></div>
</figure>
<div class="background">
  <div class="overlay white"></div>
  <article>
    <div class="program-text">
      <h2>High-Standard Chess Programs Run In-Situe</h2>
      <p>Aside from the well-documented mental benefits associated with learning chess young, a school chess program focused on friendly competition is a great way to get kids excited about learning and incentivize them to reach higher when approaching their studies.</p>

      <p>Altitude Chess is based in Melbourne’s outer east, and our aim is to provide a professional chess curriculum to local schools. Our programs function on a term-by-term basis, and consist of one hour-long session per week run within the school grounds either during lunch or directly after school ends.</p>
      <div class="small-line"></div>
      <h5>Programs Include:</h5>
      <ul>
        <li>A term-long tournament run between the students</li>
        <li>Medals awarded to the best-performing students at the end of term</li>
        <li>All necessary chess equipment, sets, presentation boards, tournament software, etc.</li>
        <li>Experienced, qualified coaches equipped with tried and tested teaching methods and materials</li>
        <li>An emphasis on encouraging students to learn through collaboration</li>
      </ul>
      <h5>Class Structure:</h5>
      <ul>
        <li>A term-long tournament run between the students</li>
        <li>20 Minutes lecture-style presentation</li>
        <li>40 minutes supervised tournament play between students​</li>
      </ul>

      <p>Don't hesitate to contact us at any time for further information.</p>
    </div>
  </article>
  <div class="clearfix"></div>

</div>
