/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

a {
 color: inherit;
 text-decoration: none;
}

/* ----------------------------------------------------------------------- */

.clearfix {
  clear: both;
}
html {
  font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}

header {
  background-image: url("images/magnifying-glass.png");
  background-repeat: repeat-x;
  margin-bottom: 65px;
}

body > footer, body > main {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: auto;
  max-width: 990px;
}

body > main {
  border-bottom: 1px solid #ddd;
}

a:hover {
  text-decoration: underline;
}

.top-menu {
  height: 41px;
  background-color: #555;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 9px;
  display: none;
}

.top-menu span {
  display: block;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  background-image: url("images/menu-btn.png");
  background-repeat: no-repeat;
  padding: 4px 30px;
}

.top-menu span:hover {
  cursor: pointer;
}

.top-banner {
  background: #b9002d;
  color: white;
  height: 23px;
  padding-top: 1px;
  padding-left: 18px;
}

.title-banner {
  margin: 19px 0 11px 24px;
}

.title-text {
  width: 433px;
  float: left;
}

.title-text img {
  margin-top: -1px;
}

.extras {
  float: right;
  margin-right: 11px;
}

.extras li {
  display: inline-block;
  margin-right: 5px;
}

.extras ul {
  float: right;
  margin-bottom: 7px;
}

.extras ul img {
  height: 23px;
  width: 23px;
}

.extras form {
  margin-right: 4px;
}

.extras input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-right: none;
  color: #999;
  font-size: 12px;
  padding: 6px 0 4px 2px;
  width: 219px;
}

.submit:hover {
  cursor: pointer;
}

.extras button {
  background: none;
  border: none;
  float: right;
  height: 25px;
  padding: 0;
}

.extras button img {
  height: 26px;
  padding: 0;
  width: 26px;
}

.topics {
  margin: 5px 25px 0 25px;
  background: #eee;
  box-sizing: border-box;
  height: 30px;
  display: none;
}

.topics h5 {
  font-size: 15px;
  box-sizing: border-box;
  background: #bbb;
  width: 90px;
  text-align: center;
  padding-right: 27px;
  padding-top: 7px;
  height: 100%;
  background-image: url("images/tiny-arrow.png");
  background-repeat: no-repeat;
  background-position: 91% 50%;
}

.topics h5:hover {
  cursor: pointer;
}

.meta-nav {
  clear: both;
  margin-bottom: 23px;
}

.meta-nav a, .radar a {
  text-decoration: none;
}

.meta-nav ul{
  background: linear-gradient(white, rgb(239, 239, 239));
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  font-size: 13px;
  height: 33px;
}

.meta-nav li, .radar li {
  display: inline-block;
  text-transform: capitalize;
}

.meta-nav li{
  border-right: 1px solid #ddd;
  height: 100%;
  line-height: 34px;
  padding: 0 15px;
}


.meta-nav .selected{
  background: white;
  border-bottom: 1px solid white;
  color: #900;
}
.radar ul {
  margin-left: 20px;
}
.radar li {
  border-bottom: 4px solid #bbb;
  color: #777;
  font-size: 18px;
  font-weight: 300;
  margin-right: 10px;
  padding: 8px 10px 5px 10px;
}

.radar li:hover {
  border-color: #b9002d;
  color: #b9002d;
}

/* ------------------- articles ---------------------------------------- */

section {
  position: relative;
}

section .updates{
  position: absolute;
  right: 0;
  top: 0;
  width: 34%;
}

section .articles-wrapper {
  margin-left: 20px;
  margin-right: 34%;
  padding-right: 19px;
  padding-top: 4px;
  width: auto;
}

section .section-top, .updates .title {
  border-bottom: 1px solid #ddd;
  color: #900;
  font-weight: bold;
  text-transform: uppercase;
}

section .section-top {
  font-size: 14px;
  margin-bottom: 17px;
  padding-bottom: 2px;
}

section .updates .title {
  font-size: 13px;
  margin-bottom: 10px;
  padding: 2px 0 5px 0;
}

section .updates .title ~ .title {
  margin-right: 18px;
}

.updates ul {
  margin-top: -4px;
  margin-bottom: 5px;
}

.updates p {
  font-size: 13px;
  white-space: normal;
  line-height: 20.6px;
}

.updates li {
  padding: 5px 45px 7px 0;
  white-space: nowrap;
}

.updates li img {
  vertical-align: top;
  margin-right: 9px;
  width: 21px;
}

.updates li p {
  display: inline-block;
  vertical-align: 5px;
}

.updates li a {
  font-weight: bold;
}

.updates .google {
  height: 22px;
  width: 23px;
}

.updates .google + p {
  margin-left: 1px;
  vertical-align: 9px;
}

.updates .youtube {
  margin-top: -4px;
}

.updates .youtube + p {
  margin-top: -4px;
}

.updates select {
  border: 1px solid #ddd;
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.updates .topic {
  width: 158px;
}

.updates .author {
  margin-bottom: 21px;
  width: 200px;
}

.updates .title + p {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.featured {
  border-bottom: 5px solid #ddd;
  margin-bottom: 29px;
}

.featured .social-media {
  margin-top: 16px;
}

article {
  margin: 0 20px 23px 0;
  border-bottom: 1px solid #ddd;
}

h3 {
  color: blue;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

section article p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 14px;
}


section a {
  color: blue;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 17px;
  padding-top: 3px;
}

ul.blocky {
  list-style-type: square;
  margin-left: 22px;
  padding-top: 2px;
  padding-bottom: 12px;
}

.blocky li {
  font-size: 15px;
  margin-bottom: 5px;
}

article .social-media {
  margin-top: -1px;
  padding-bottom: 12px;
}

article .social-media li {
  display: inline-block;
}

article .social-media .icon-holder {
  background: url("images/twitter-logo.jpg");
  background-size: contain;
  height: 22px;
  margin-right: 1px;
  width: 23px;
}

article .social-media .icon-holder:hover {
  background: url("/images/mag-glass.jpg");
}

article header {
  overflow: hidden;
  margin-bottom: 6px;
}

article .side-image {
  float: right;
  height: auto;
  margin: 4px 1px 0 22px;
  max-width: 350px;
}

article .full-width {
  overflow: hidden;
  margin: 10px 0 14px 0;
  float: none;
  width: 100%;
}

.waterfall {
  height: 248px;
  width: 100%;
  background: url("images/waterfall.png");
  background-position: 15% 85%;
  transform: scale(2.2);
}

.elastisearch {
  background: url("images/waterfall.png");
  height: 212px;
}

figcaption {
  font-size: 15px;
  font-style: italic;
  line-height: 20px;
  margin: 15px 0 6px 0;
  text-align: center;
}

article header img {
  float: left;
  height: 80px;
  width: 57px;
}

.smaller {
  height: 64px;
}

article header h3, article header p {
  margin-left: 67px;
}

article header h3 {
  margin-bottom: 5px;
}

article header p {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 4px;
}

article header .authorship {
  color: grey;
  font-size: 12px;
  font-weight: normal;
}

article .editors-note {
  font-style: italic;
}

article .expander {
  font-size: 15px;
  font-weight: bold;
}

ul.article {
  line-height: 20px;
  font-size: 15px;
  list-style-type: square;
  margin: 14px 0 24px 42px;
}

ul.article li {
  margin-bottom: 10px;
}

.item-title {
  font-weight: bold;
}

ol.article {
  list-style-type: decimal;
  margin: 0 0 10px 20px;
}

ol.article li p {
  margin-bottom: 10px;
}

.older-posts {
  display: block;
  font-weight: bold;
  font-size: 12px;
  margin: 25px 0 25px;
}

/* --------------------- Footer --------------- */

footer {
  padding-top: 12px;
}

.bottom-banner {
  background: #900;
  padding-bottom: 1px;
  margin-bottom: 16px;
}

.bottom-banner nav {
  float: right;
  margin: 13px 25px 15px 0;
}

.bottom-banner a {
  color: white;
  display: inline-block;
  font-size: 11px;
  vertical-align: middle;
}

.bottom-banner ul {
  display: inline-block;
}

.bottom-banner li {
  display: inline-block;
}

footer img {
  width: 19.5px;
}

footer a, footer p, footer h6 {
  font-size: 12px;
  color: #333333;
}
h6 {
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 14px 0 12px;
  flex-wrap: wrap;
}

.trademark {
  box-sizing: border-box;
  padding-right: 70px;
  width: 310px;
  margin-bottom: 20px;
}

.trademark p {
  line-height: 15px;
  margin-top: 12px;
}

.lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 640px;
  margin-bottom: 30px;
}

.list-wrapper {
  padding-top: 1px;
}

.list-wrapper ul {
  margin: 7px 0 9px 0;
}

.list-wrapper li {
  margin-bottom: 3px;
}


/* --------------------- Media Quesires --------------- */

@media (max-width: 950px) {

  body {
    min-width: 390px;
  }

  .top-menu {
    display: flex;
  }

  .title {
    margin: 0 10px 0 3px;
    box-sizing: border-box;
  }

  .updates ul {
    padding-left: 4px;
  }

  body > main {
    border-left: none;
    border-right: none;
  }

  .meta-nav, .radar {
    display: none;
  }

  .title-banner {
    margin-left: 22px;
    padding-right: 25px;
  }

  section {
    margin: 0 9px 0 5px;
  }

  .updates {
    margin-right: 7px;
  }

  .updates ul {
    margin-bottom: 11px;
  }

  .topics {
    display: block;
  }

  .bottom-banner nav {
    float: left;
    margin: 18px 0 6px 28px;
  }

  .bottom-banner img {
    width: 20px;
    height: 21px;
  }

  .footer-content-wrapper {
    padding-left: 10px;
  }
}

@media (max-width: 770px) {
  .lists {
    flex-direction: column;
  }

  .list-wrapper {
    margin-bottom: 12px;
  }

  section .updates {
    width: 100%;
    margin-left: 15px;
    position: static;
    height: 370px;
    min-height: 370px;
  }

  .topics h5 {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    background-position: 99% 50%;
  }

  article .side-image {
    padding-left: 20px;
    margin-right: -15px;
  }

  section .updates li {
    display: inline-block;
  }

  .title-banner, .topics, section .articles-wrapper {
    margin-left: 15px;
  }

  section .articles-wrapper {
    margin-right: -20px;
  }

  .title-text img {
    margin-top: -3px;
    width: 310px;
  }

  .extras {
    margin-top: 25px;
  }


}
